@{
    ViewBag.Title = "BeechTree :: Home";
}

<div class="well" style="background-color:#033D76;">
    <img src="~/Content/logo.png" />
</div>
<div class="jumbotron">
    <h1>BeechTree</h1>
    <p class="lead">Eagle Services Autoforms.</p>
    <p><a href="/Jobs" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

