@model BeechTree.Models.PagedList<BeechTree.Models.JobEquipment>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title"><span class="glyphicon glyphicon-wrench"></span> Job Equipment List</h3>
</div>

<div class="modal-body">

    <div style="margin-top:17px;">
        @{
            var grid = new WebGrid(
                        canPage: true,
                        rowsPerPage: Model.PageSize,
                        canSort: true,
                        ajaxUpdateContainerId: "grid");

            grid.Bind(Model.Content, rowCount: Model.TotalRecords, autoSortAndPage: false);
            grid.Pager(WebGridPagerModes.All);

            if (Model.TotalRecords > 0)
            {
                @grid.GetHtml(htmlAttributes: new { ajaxUpdateContainerId = "grid" },
                 fillEmptyRows: false,
                 tableStyle: "table table-bordered table-hover",
                 mode: WebGridPagerModes.All,
                 columns: grid.Columns(
                   grid.Column("Id", style: "grid id"),
                   grid.Column("JobNo", "Job#", style: "grid jobno"),
                   grid.Column("ShiftNo", "Shift#", style: "grid shiftno"),
                   grid.Column("ShiftDate", "Date", style: "grid date"),
                   grid.Column("Qty", style: "grid date"),
                   grid.Column("Item", style: "grid date")
                 ));
            }
            else
            {
                @Html.Raw("<div>There is no equipment for this job</div>")
            }

        }


    </div>






</div>

<div class="modal-footer">
    <button class="btn btn-warning" data-dismiss="modal">Close</button>
</div>

@Scripts.Render("~/bundles/Datatables")
