@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<div class="row">
		<div class="col-md-3">
			<img src="~/Content/cream-corn.jpg" width="154" height="200" />
		</div>
		<div class="col-md-9">
			<h1>Cream Corn!</h1>
			<p class="lead">The amazing contact management software that puts the 411 in your hands.</p>
			<p><a href="~/company/" class="btn btn-primary btn-lg">Start now &raquo;</a></p>
		</div>
	</div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Work With Companies</h2>
        <p>
            Cream Corn gives you a powerful, easy way to add, edit, delete, browse and search for your companies.
        </p>
        <p><a class="btn btn-default" href="/company">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Work With Contacts</h2>
        <p>See who's who - see the contacts working at your companies!</p>
        <p><a class="btn btn-default" href="/contact">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Work With Categories</h2>
        <p>Did you know you can categorize your companies? Give it a try!</p>
        <p><a class="btn btn-default" href="/category">Learn more &raquo;</a></p>
    </div>
</div>