@model CreamCorn.Models.PagedList<CreamCorn.Models.Company>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title"><span class="glyphicon glyphicon-folder-close"></span> Company List</h3>
</div>

<div class="modal-body">

    <div style="margin-top:17px;">
        @{
            var grid = new WebGrid(
                        canPage: true,
                        rowsPerPage: Model.PageSize,
                        canSort: true,
                        ajaxUpdateContainerId: "grid");

            grid.Bind(Model.Content, rowCount: Model.TotalRecords, autoSortAndPage: false);
            grid.Pager(WebGridPagerModes.All);

            if (Model.TotalRecords > 0)
            {
                @grid.GetHtml(htmlAttributes: new { ajaxUpdateContainerId = "grid" },
                 fillEmptyRows: false,
                 tableStyle: "table table-bordered table-hover",
                 mode: WebGridPagerModes.All,
                 columns: grid.Columns(
                   grid.Column("Id"),
                   grid.Column("Name")
                 ));
            }
            else
            {
                @Html.Raw("<div>There are no companies under this category</div>")
            }

        }


    </div>


</div>

<div class="modal-footer">
    <button class="btn btn-warning" data-dismiss="modal">Close</button>
</div>
